/GeneDuplicationPipeline.class
/ListCrossoverPipeline.class
/MultipleVectorCrossoverPipeline.class
/VectorCrossoverPipeline.class
/VectorCrossoverPipeline_Groups.class
/VectorMutationPipeline.class
/VectorMutationPipeline_Groups.class
